# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

- List of popular data science languages
- Table of popular data science tools
- Examples of evaulating simple arithmetic expressions

Data Science Languages: 1. Python 2. R 3. Juli

Commonly used data science libraries: 1.pandas, 2.numpy, 3.matplotlib

| Data Science Tools | 
| ------ | 
| Github |
| Anaconda |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(20*12)+37

277

This will convert 200 minutes to hours by diving by 60

In [3]:
240 / 60

4.0

## Author

Trevor Reed